@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Home Page";
}

<h2>UploadFile</h2>

@using (Html.BeginForm("ImportData", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />

        <input type="submit" value="Upload" />

        @ViewBag.Message

    </div>


}  